#IGNORE DOWNLOADED REPOS
whisper.cpp/


# Git internals
.git/

# Virtual environments
.venv/

# Python cache and compiled files
__pycache__/
*.pyc

# Runtime/session data (recordings, tmp outputs)
sessions/
*.wav
*.mp3
*.tmp

# Logs
*.log

# OS/system files
.DS_Store
Thumbs.db
